@model MvcApplication2.Models.HomeModel
<h2>* GPIO Test *</h2>
<a id="hideGPIOTest" class="boxHide" href="Index">
	<img src='/Content/images/up.png' alt="" /><img src='/Content/images/down.png' style="display: none;" alt="" /></a>
<div id="divGPIOTest" class="boxBody">
	<p>
		<input type="button" id="btnRed" value="Red" />&nbsp;
		<input type="button" id="btnGreen" value="Green" />
	</p>
</div>
